{% extends 'base.html' %}
{% block title %}Lista produktów{% endblock %}
{% block content %}
<ul class="list-group">
    {% for product in products %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a type="button" class="btn btn-ceneo" href="{{url_for('product', product_id=product.product_id)}}">{{product_id}}</a>
            <span>{{product.product_name}}</span>
            <span class="badge bg-primary rounded-pill">{{product.opinions_count}}</span>
            <span class="badge bg-success rounded-pill">{{product.pros_count}}</span>
            <span class="badge bg-danger rounded-pill">{{product.cons_count}}</span>
            <span class="badge bg-ceneo rounded-pill">{{product.average_stars}}</span>
            <a type="button" class="btn btn-info" href="#">CSV</a>
            <a type="button" class="btn btn-info" href="#">XLSX</a>
            <a type="button" class="btn btn-info" href="#">JSON</a>
        </li>
    {% endfor %}
</ul>

<table class="table table-striped table-hover" id="opinions">
        <thead>
            <tr>
                <!-- <th class="text-center">Id opinii</th> -->
                <th class="text-center">Autor</th>
                <th class="text-center">Rekomendacja</th>
                <th class="text-center"><i class="bi bi-star-fill"></i></th>
                <!-- <th class="text-center">Treść</th>
                <th class="text-center">Zalety</th>
                <th class="text-center">Wady</th> -->
                <th class="text-center"><i class="bi bi-hand-thumbs-up-fill"></i></th>
                <th class="text-center"><i class="bi bi-hand-thumbs-down-fill"></i></th>
                <th class="text-center">Data wystawienia</th>
                <th class="text-center">Data zakupu</th>
                <th class="text-center">Szczegóły</th>
            </tr>
        </thead>
{% endblock %}